.App {
  min-height: 100vh;
  display: grid;
  grid:
    "header" auto
    "main" 1fr
    "footer" auto
    / 1fr;

  grid-column-gap: 0px;
  grid-row-gap: clamp(1rem, 30px, 2rem);
  background-color: var(--color-bg-dark);
}

.header {
grid-area: header;
}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
}

