* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-text-grey: #dce1de;
  --color-bg-dark: #1f2421;
  --color-text-green: #9cc5a1;
  --color-c-purple: #451172;
  --color-a-purple: #8a09fa;
  --color-b-purple: #ac4efe;
  --color-b-green: rgb(0, 158, 0);
  --color-b-orange: rgb(211, 125, 11);
}

body {
  font-size: calc(10px + 2vmin);
  font-family: "Courier New", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
