.mainContent {
  display: grid;

  grid:
    "displayAttemptsContainer" 2fr
    "inputDesplayContainer" auto
    "keyboardCon" 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 8px;
}

.displayAttemptsContainer {
  grid-area: displayAttemptsContainer;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.inputDesplayContainer {
  grid-area: inputDesplayContainer;
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  margin-top: 1rem;
}

.keyboardCon {
  grid-area: keyboardCon;
}

.lettersRow {
  display: flex;
  column-gap: 1rem;
}

.letterCell {
  width: 4rem;
  height: 4rem;
  color: rgb(255, 255, 255);
  border: 2px var(--color-a-purple) solid;
  color: var(--color-text-grey);
  border-radius: 10px;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.letterCellGreen {
  border: none;
  background-color: var(--color-b-green);
}

.letterCellOrange {
  border: none;
  background-color: var(--color-b-orange);
}

.inputLetter {
  width: 5rem;
  height: 5rem;
  border: black 1px solid;
  border-radius: 10px;
  font-size: 4rem;
  text-align: center;
}

.inputLetter:focus {
  border-color: rgb(0, 94, 255);
  outline-color: rgb(0, 162, 255);
  outline-style: solid;
  outline-width: 3px;
}

.checkBtn {
  font-size: 1.5rem;
  background-color: rgb(0, 158, 0);
  padding: 1rem;
  border: none;
  border-radius: 10px;
  color: var(--color-text-grey);
}

.checkBtn:hover {
  background-color: rgb(20, 178, 20);
  cursor: pointer;
}

.checkBtn:disabled {
  opacity: 0.5;
  cursor: none;
}
